* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	position: relative;
}
body {
	position: relative;
	display: flex;
	height: 1272px;
	flex-direction: column;
}
.background {
	width: 100%;
	height: 100vh;
	background-image: url(/images/background_pavan.webp);
	background-size: cover;
	background-position: center;
}
.logo-div {
	position: absolute;

	width: 50%;
	display: flex;
	justify-content: center;
}
.image {
	width: 200px;
}
.select-box {
	background-color: white;
	position: absolute;
	height: 450px;
	width: 500px;
	top: 230px;
	left: 130px;
	border-radius: 20px;
	border: none;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.text {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}
.text h1 {
	color: black;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}
.button-sec {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	align-items: center;
}
.button {
	border-radius: 15px;
	transition: all 1000s ease;
	padding: 20px;
	transition: 0.15s;
	color: rgb(255, 255, 255);
}
.participant-button {
	font-weight: bold;
	font-size: larger;
	width: 300px;
	background: -webkit-linear-gradient(
		right,
		#292429,
		#504843,
		#5b4c3d,
		#60574f
	);
	padding-left: 85px;
}
.organizer-button {
	font-weight: bold;
	font-size: larger;
	width: 300px;
	padding-left: 85px;
	background: -webkit-linear-gradient(
		left,
		#292429,
		#504843,
		#5b4c3d,
		#60574f
	);
	margin-top: 35px;
}
.button:hover {
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	font-size: larger;
	width: 302px;
}
/* UPCOMING EVENTS */
.event-heading{
	position: absolute;
	z-index: 3000;
	top: 735px;
	width: 100%;
	background-color: rgb(167, 34, 34);
	display: flex;
	justify-content: center;
}
.bottom-section{
	background-color: aquamarine;
	position: absolute;
	height: 550px;
	width: 100%;
	display: flex;
	flex-direction: row;
	top: 725px;
	justify-content: space-evenly;
}
.first,.second,.third{
	background-color: bisque;
	width: 420px;
	height: 440px;
	margin-top: 80px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
	


}
.bottom-section .view-more{
	margin-top: 80px;
	height: 440px;
	width: 140px;

	display: flex;
	align-items: center;
	justify-content: center;
	
}
.ev-title{
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px;
	border-radius: 10px;
	font-weight: bold;
	font-family: 'Arial';
	font-size: 18px;
	line-height: 1.2em;
	color: white;
	background-color: #9c2f2f;
	height: 100px;

}
.ev-date{
	font-style: italic;
	font-size: 16px;
	padding: 30px;
	color: rgb(0, 0, 0);
	font-family: 'Arial';
	font-weight: lighter;
	font-size: 22px;
	font-weight: 500;
	border-radius: 10px;
	background-color: lightsalmon;

}
.ev-location{
	background-color: lightgreen;
	font-style: italic;
	font-size: 22px;
	font-weight: 500;
	padding: 30px;
	color: rgb(0, 0, 0);
	font-family: 'Arial';
	font-weight: lighter;
	border-radius: 10px;
}
.ev-desc{
	font-style: italic;
	font-size: 16px;
	padding: 20px;
	color: rgb(0, 0, 0);
	font-family: 'Arial';
	font-weight: lighter;
	border-radius: 10px;
	background-color: lightblue;
	height: 105px;
}
.de{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	
	margin-top: 10px;
}
.ev-det{
	border: none;
	padding: 10px;
	font-size: 21px;
	letter-spacing: 2px;
	font-weight: 700;
	border-radius: 1px;
	border-radius: 8px;
	
	width: 300px;
	
	transition: 0.15s;
	color: rgb(255, 255, 255);
	background: -webkit-linear-gradient(
		left,
		#292429,
		#504843,
		#5b4c3d,
		#60574f
	);
	cursor: pointer;
}
.ev-det:hover {
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	font-size: larger;
	width: 302px;

}
.more{
	border: none;
	padding: 10px;
	font-size: 16px;
	color: white;
	letter-spacing: 2px;
	font-weight: 700;
	border-radius: 6px;
	background: -webkit-linear-gradient(
		right,
		#292429,
		#504843,
		#5b4c3d,
		#60574f
	);
	transition: 0.15s;
	width: 130px;
	cursor: pointer;
}
.more:hover{
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	font-size: 17px;
	width: 133px;
}